.hamburger {
	transition: all 0.3s;
	display: none;

	&__toggle {
		transition: all 0.3s;
    cursor: pointer;
		height: 2rem;
    width: 4rem;
		display: flex;
		flex-direction: column;
		align-self: center;
		margin-right: 3rem;
	}

	&__spinner {
		transition: all 0.3s;
    height: .3rem;
    width: 100%;
    background-color: #fff;
	}

	&__horizontal {
		transition: all 0.3s;
    box-sizing: border-box;
    margin-top: .5rem;
	}

	&__diagonal {

		&--1 {transition: all 0.3s; }

		&--2 {
			transition: all 0.3s;
			margin-top: .5rem;
		}
	}

	&:checked ~ .menu { transform: translateX(0); }

	&:checked ~ &__toggle > &__horizontal {
		transition: all 0.3s;
		opacity: 0;
	}

	&:checked ~ &__toggle > &__diagonal--1 {
		transition: all 0.3s;
    transform: rotate(135deg);
		margin-top: .8rem;
	}

	&:checked ~ &__toggle > &__diagonal--2 {
		transition: all 0.3s;
		transform: rotate(-135deg);
		margin-top: -1rem;
	}
}
