<div class="menu">
	<div class="menu__wrapper">
		<div class="menu__content">
			<div>
				<img src="https://res.cloudinary.com/ml7757/image/upload/c_scale,w_100/v1729451600/hockey/misc/LLL_red_outline_ro7req.png" alt="Lip Lettuce logo" class="nav__logo">
			</div>

			{{ partial "hamburger.html" (dict "attr" . "checked" "true") }}
		</div>
		<div class="menu__list">
			<ul class="menu__links">
				<li class="menu__item"><a href="{{ $.Site.BaseURL }}/countries" class="menu__link">Countries</a></li>
				<li class="menu__item"><a href="{{ $.Site.BaseURL }}/leagues" class="menu__link">Leagues</a></li>
				<li class="menu__item"><a href="{{ $.Site.BaseURL }}/clubs" class="menu__link">Clubs</a></li>
			</ul>
		</div>
	</div>
</div>
